@model ProductListViewModel
<div class="col-12">
    <div class="bg-secondary rounded h-100 p-4">
        <a class="btn btn-primary" asp-controller="controller" asp-action="details">Create</a>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Image</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model?.Items ?? [])
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td><img src="~/image/products/@item.Images.FirstOrDefault(x => x.IsMain == true)?.ImageUrl"></td>
                            <td>@item.Name</td>
                            <td>@item.OriginalPrice</td>
                            <td>@item.Category</td>
                            <td>
                                <a class="btn btn-secondary" asp-controller="product" asp-action="details" asp-route-id="@item.Id">Details</a>
                                <a class="btn btn-warning" asp-controller="product" asp-action="update" asp-route-id="@item.Id">Update</a>
                                <a class="btn btn-danger" asp-controller="product" asp-action="delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>

                    }

                </tbody>
            </table>
        </div>
    </div>
</div>