@model ProductUpdateViewModel
<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <p class="card-description">
                Create Product
            </p>
            <form method="post" class="forms-sample" enctype="multipart/form-data">
                <div class="text-danger" asp-validation-summary="All"></div>

                <div class="form-group">
                    <label for="exampleInputUsername1">Name</label>
                    <input class="form-control" id="input1" asp-for="Name" placeholder="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputUsername1">Description</label>
                    <input class="form-control" id="input1" asp-for="Description" placeholder="Description">
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputUsername1">Color</label>
                    <input class="form-control" id="input1" asp-for="Color" placeholder="Color">
                    <span asp-validation-for="Color" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputUsername1">ProductCode</label>
                    <input class="form-control" id="input1" asp-for="ProductCode" placeholder="ProductCode">
                    <span asp-validation-for="ProductCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputUsername1">Brand</label>
                    <input class="form-control" id="input1" asp-for="Brand" placeholder="Brand">
                    <span asp-validation-for="Brand" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputUsername1">Reward Point</label>
                    <input class="form-control" id="input1" asp-for="RewardPoint" placeholder="Reward Point">
                    <span asp-validation-for="RewardPoint" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputUsername1">Stock Quantity</label>
                    <input class="form-control" id="input1" asp-for="StockQuantity" placeholder="Stock Quantity">
                    <span asp-validation-for="StockQuantity" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="exampleInputUsername1">Price</label>
                    <input class="form-control" id="input1" asp-for="OriginalPrice" placeholder="Original Price">
                    <span asp-validation-for="OriginalPrice" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="exampleInputUsername1">Discount in % </label>
                    <input class="form-control" id="input1" asp-for="DiscountPercentage" placeholder="Discount Price">
                    <span asp-validation-for="DiscountPercentage" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="exampleInputUsername1">Tax</label>
                    <input class="form-control" id="input1" asp-for="Tax" placeholder="Tax">
                    <span asp-validation-for="Tax" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CategoryId">Categories</label>
                    <select asp-for="CategoryId" class="form-control">
                        @* <option value="@null">Choose Category</option> *@
                        @foreach (var category in Model.Categories ?? new())
                        {
                            if (category.Id == Model.CategoryId)
                            {
                                <option value="@category.Id" selected>@category.Name</option>
                            }
                            else
                            {
                                <option value="@category.Id">@category.Name</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="tags">Select Tag(s)</label>
                    <select asp-for="SelectedTagsIds" asp-items="Model.AllProductTags" class="form-control" multiple="multiple">
                    </select>
                    <span asp-validation-for="SelectedTagsIds" class="text-danger"></span>
                </div>



                <div class="form-group">
                    <img src="@Model.MainImagePath" />
                    <input type="hidden" asp-for="MainImagePath" />
                    <label for="exampleInputUsername1">Main image</label>
                    <input class="form-control" id="input1" asp-for="MainImageFile" placeholder="main image">
                    <span asp-validation-for="MainImageFile" class="text-danger"></span>
                </div>



                <div class="form-group">
                    <img src="@Model.HoverImagePath" />
                    <input type="hidden" asp-for="HoverImagePath" />

                    <label for="exampleInputUsername1">Hover image</label>
                    <input class="form-control" id="input1" asp-for="HovermageFile" placeholder="Name">
                    <span asp-validation-for="HovermageFile" class="text-danger"></span>
                </div>

                @for (int i = 0; i < Model.AdditionalImagePaths?.Count ; i++)
                {
                    var imagePath = Model.AdditionalImagePaths[i];

                    <div style="position: relative; display: inline-block; margin-right: 10px;">
                        <div style="position: relative;">
                            <img style="width: 100px; height: 100px;" class="primary-img"
                                 src="@imagePath"
                                 alt="Product Images" />
                            <button type="button" class="buttonRemove btn btn-danger" style="position: absolute; top: 0; right: 0; z-index: 1;">
                                x
                            </button>
                            <input asp-for="AdditionalImagePaths" type="hidden" value="@imagePath" />
                            <input asp-for="AdditionalImageIds" type="hidden" value="@Model.AdditionalImageIds[i]" />
                        </div>

                    </div>
                }
                <div class="form-group">
                    <label for="exampleInputUsername1">Additional image</label>
                    <input class="form-control" id="input1" asp-for="AdditionalImages" placeholder="Name">
                    <span asp-validation-for="AdditionalImages" class="text-danger"></span>
                </div>


                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button class="btn btn-light" asp-action="index">Cancel</button>
            </form>
        </div>
    </div>
</div>
<script>
    const buttons = document.querySelectorAll(".buttonRemove");

    buttons.forEach(btn => {
        btn.addEventListener('click', (e) => {
            e.preventDefault();

            e.target.parentElement.remove();
        })
    })


</script>